@inherits QuestionAnswerListComponentBase

@if (Questions == null)
{
    <div>Loading</div>
}
else
{
    <div class="container">

        <div class="row">
            <div class="col">
                @foreach (var question in Questions)
                {
                    <div>@question.Content</div>
                    <AcordionComponent Question="question"/>
                }

            </div>
        </div>

    </div>
}