@inherits QuestionAnswerListComponentBase

@if (Questions == null)
{
    <div>Loading</div>
}
else
{
    <div class="container">

        <div class="row">
            <div class="col">

                <button @onclick="CollapseAllCards">X</button>

                <div id="accordion">

                    @foreach (var question in Questions)
                    {
                        <AcordionComponent Question="question" Collapse="@Collapse"/>
                    }
                </div>

            </div>
        </div>

    </div>
}