<AuthorizeView>
    <Authorized>
        <a href="Identity/Account/Manage">Witaj, @context.User.Identity.Name!</a>
        <form method="post" action="Identity/Account/LogOut">
            <button type="submit" class="nav-link btn btn-link">Log out</button>
        </form>

        <AuthorizeView Roles="Admin">
            <Authorized Context="Auth">
                <a href="/admin">Admin</a>
            </Authorized>
        </AuthorizeView>

    </Authorized>
    <NotAuthorized>
        <a href="Identity/Account/Register">Register</a>
        <a href="Identity/Account/Login">Log in</a>
    </NotAuthorized>
</AuthorizeView>